# dependencies (bun install)
node_modules

# Expo
.expo/
dist/
web-build/

# output
out
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
npm-debug.*
yarn-debug.*
yarn-error.*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
.metro-health-check*

# IntelliJ based IDEs
.idea
*.iml

# VSCode
.vscode/
.cursor/

# Finder (MacOS) folder config
.DS_Store
.AppleDouble
.LSOverride

# Mobile
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# iOS
ios/.xcode.env.local

# Android
android/app/debug
android/app/release
